__pycache__
*__pycache__
*temp.*
temp.*
*.log*
*.zip
venv
.env
debug.*
db.*
*.sqlite3
*.pyc
staticfiles
.env.*
media/
client-details.txt
utils/scrapers/countries_states.json
*/.DS_Store 
.DS_Store 
/files
*.crdownload
/docs