// Base
$color-a: #E7F6F2
$color-b: #A5C9CA
$color-c: #395B64
$color-d: #2C3333


// Login page
.jazzmin-page
    background: $color-d

    img
        border-radius: 10%

    .card-body
        background: $color-c

    .card-body
        color: $color-a

    button[type="submit"]
        background: $color-b
        color: $color-d
        border: 2px solid $color-b
        font-weight: bold

        &:hover
            background: rgba($color-d, 0)
            color: $color-b

    .input-group input:focus
        border-color: $color-b

    .callout.callout-danger a:hover
        color: $color-b !important