{% extends "registration/base.html" %}

{% load i18n jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}


{% block extrahead %}
    <!-- Add sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}
    <p class="login-box-msg">Account Activation</p>
    <form action="{{ app_path }}" method="post" id="form-sign-up">
        {% csrf_token %}
        
        <!-- Form error from js -->
        <div class="callout callout-danger hidden">
            <p></p>
        </div>


        <div class="input-group mb-3">
            <input type="text" name="email" class="form-control" placeholder="Email" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" name="first-name" class="form-control" placeholder="First Name" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" name="last-name" class="form-control" placeholder="Last Name" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" name="password1" class="form-control" placeholder="Password" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" name="password2" class="form-control" placeholder="Password (again)" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <!-- New user error
        <div class="callout callout-danger error-user-exists hidden">
            <p>A user with that email already. Click <a href="/admin/login/">here</a> to login.</p>
        </div> -->
        
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn {{ jazzmin_ui.button_classes.primary }} btn-block">
                    {% trans "Register" %}
                </button>
            </div>
        </div>

        <!-- Links -->
        <p class="login-box-msg small">Do you aready have an account? Click <a href="/admin/login/">here</a> to Log in</p> 
    </form>
{% endblock %}

{% block extrascript %}
<script>
    const mesageTitle = '{{message_title}}'
    const messageText = '{{message_text}}'
    const messageType = '{{message_type}}'

    if (mesageTitle != '') {
        Swal.fire({
            title: mesageTitle,
            text: messageText,
            icon: messageType,
            confirmButtonText: 'Ok'
        })
    }
</script>
{% endblock %}
